<!-- 
	Values: 
		page: current page number.
		posts: Array of posts for the page.
			post: 
				- filename (e.g. 2010-cool-post.md)
		        - path (e.g. /home/user/2010-cool-post.md)
		        - contents (post content)
		        - config (post front config)
		        - year, month, date (in the format specified in config.yaml)
		        - title
		        - url (e.g. /2010/02/cool-post/)
		        - categories (list)
		        - author (from config.yaml or from front config)
		prev: previous page path.
		next: next page path.
		total: number of pages.
-->

{% extends "base.html" %}

{% block main %}
    <h2>Page {{ page }}</h2>

    {% for post in posts %}
        <p>{{ post.title }}</p>
    {% endfor %}

    <p>Total {{ total }}</p>
    <p>Page {{ page }}</p>
    <p>Prev {{ prev }}</p>
    <p>Next {{ next }}</p>


{% endblock %}
