<!-- 
	post: 
		- filename (e.g. 2010-cool-post.md)
	    - path (e.g. /home/user/2010-cool-post.md)
	    - contents (post content)
	    - config (post front config)
	    - year, month, date (in the format specified in config.yaml)
	    - title
	    - url (e.g. /2010/02/cool-post/)
	    - categories (list)
	    - author (from config.yaml or from front config) 
-->

{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <a href="/">&laquo; home</a>
    <div class="post">
        <div class="post-meta">
            <span class="date">{{ post.date }}</span> - Posted by {{ post.author }}
        </div>
        <div class="post-content">
            {{ post.contents|safe }}
        </div>
        <div class="post-after">
            {% for c in post.categories %}
            <a href="/category/{{ c.slug }}/">{{ c.name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
